Flask
Flask-Login
Flask-WTF
Flask-Migrate
Flask-SQLAlchemy
Flask-Bootstrap
psycopg2-binary
python-dotenv
requests
stripe
qrcode[pil]
reportlab
pandas
gunicorn
paramiko
cryptography
flask_limiter
routeros_api
qrcode[pil]
flask-babel
openpyxl
matplotlib
