{% extends 'captive/layout.html' %}
{% block title %}Logged Out{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card text-center border-info shadow-sm">
    <div class="card-body">
      <h4 class="text-info mb-3">👋 You have been logged out</h4>
      <p class="mb-4">Thanks for using Jampa Connect. See you again!</p>
      <a href="{{ url_for('voucher_user.login_voucher') }}" class="btn btn-primary w-50 mx-auto">🔁 Login Again</a>
    </div>
  </div>
</div>
{% endblock %}
